<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swap</title>
    <link rel="stylesheet" href="/css/swap.css">

</head>
<body  >
    <!-- <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fa fa-fw fa-bars checkbtn"></i>
        </label>
        <label class="logo">BOOK IT</label>
        <ul>
            <li><a href="/">Read a Book</a></li>
            <li><a href="/swap">Swap a Book</a></li>
            <li><a href="/postbook">post a Book</a></li>
            <li><a href="/newbook">Publish a Book</a></li>
            <li><a href="#">How it Works</a></li>
            <li><a class="active" href="#"><i class="fa fa-fw fa-user"></i></a></li>
        </ul>
    </nav> -->
    <div id="container" class="flex-container"></div>
    <script src="/js/swap.js"></script>
</body>
</html>